<md-content class="md-padding">
    <div id="map"></div>
    <div layout="row" layout-wrap layout-align="center">
        <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.description || item.formatted_address" md-min-length="0" placeholder="Enter City, Country or Zipcode" style="width: 400px;">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.description || item.formatted_address}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <div ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
        {{suggestion.description || suggestion.formatted_address}}
    </div>
    </div>
    <div style="width:400px; margin:auto; height: auto">
        <h1>Weather in {{weather.name}}, {{weather.sys.country}}</h1>
        <div>
            <img ng-src="{{icon}}"><span>{{weather.main.temp -273 | limitTo : 5}}<sup>o</sup> C</span>
        </div>
        <table>
            <tr>
                <td>Wind</td>
                <td>{{windspeed}} {{weather.wind.speed}} m/s {{winddirection}} {{weather.wind.deg}}</td>
            </tr>
            <tr>
                <td>Cloudiness</td>
                <td>{{clouddata}}</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>{{weather.main.pressure}} hpa</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{weather.main.humidity}} %</td>
            </tr>
        </table>
    </div>
</md-content>
