
html,
body {
    font-family: "Geomanist-Light", 'Helvetica', 'Segoe UI', sans-serif;
    font-size: 13px;
    letter-spacing: 0.02em;
    min-width: 980px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#map {
height: 400px;
width: 400px;
margin: auto;
}